.body-contacto {
    .main-contacto {

        margin: 20px;

        #floatingTextarea {
            margin-top: 20px;
        }

        .contacto,
        .consulta {
            text-align: center;
        }
    }
}