.body-contacto {
    .main-contacto {

        margin: 5% auto 20% auto;
     

        #floatingTextarea {
            margin-top: 20px;
        }

        .contacto,
        .consulta {
            text-align: center;
        }
    }
    footer {
        flex: 0 0 auto;
        background-color: #a8a6a6;
        color: #fff;
        padding: 20px;
        text-align: center;
        min-height: 5vh;
       
    }
    
    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .social-icons {
        margin: 20px 0;
    }
    
    .social-icon {
        margin: 0 10px;
        display: inline-block;
    }
    
    .social-icon img {
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease;
    }
    
    .social-icon img:hover {
        transform: scale(1.1);
    }
}
/*--------- RESPONSIVE ---------*/
/*- Mobile first => min-width-*/


/* ------------Tablet---------- */
@media (min-width: 540px) {
    .header {
        .navbar.navbar-expand-lg.bg-body-tertiary {
            padding-bottom: 0;

            .container-fluid {
                max-width: 80%;
                margin: auto;
            }
        }
    }
    .main-contacto{
        max-width: 80%;
        margin: auto;
    }

}
/* ------------Desktop---------- */
@media (min-width: 1024px) {
    .main-contacto{
        width: 600px;
    }
    
}