.body-contacto {
    .main-contacto {

        margin: auto;

        #floatingTextarea {
            margin-top: 20px;
        }

        .contacto,
        .consulta {
            text-align: center;
        }
    }
}
/*--------- RESPONSIVE ---------*/
/*- Mobile first => min-width-*/


/* ------------Tablet---------- */
@media (min-width: 540px) {
    .header {
        .navbar.navbar-expand-lg.bg-body-tertiary {
            padding-bottom: 0;

            .container-fluid {
                max-width: 80%;
                margin: auto;
            }
        }
    }
    .main-contacto{
        max-width: 80%;
        margin: auto;
    }

}