.header {
    .navbar.navbar-expand-lg.bg-body-tertiary {
        padding-bottom: 0;

        .container-fluid {
            .navbar-brand img {
                transition: 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }

                width: 100px;
            }
        }
    }
}

/*--------- RESPONSIVE ---------*/
/*- Mobile first => min-width-*/


/* ------------Tablet---------- */
@media (min-width: 540px) {
    .header {
        .navbar.navbar-expand-lg.bg-body-tertiary {
            padding-bottom: 0;

            .container-fluid {
                width: 90vw;
            }
        }
    }

}