.index-body {
    background-color: rgba(253, 250, 250, 0.69);

    .index-main {
        position: relative;
        height: 100vh;

        .texto-superpuesto {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            color: rgb(33, 33, 33);
            /* Ajusta el color del texto para que se vea sobre la imagen */
            width: 320px;
            height: 650px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 40px;
                font-family: $fuente-titulo;
                text-align: center;
                border-radius: 15px;
                color: rgb(80, 72, 53);
            }

            .texto {
                font-family: $fuente-titulo;
                font-size: 1rem;
                width: 90%;
                text-align: center;
                text-align: justify;

            }
        }

        #carouselExampleIndicators {

            //<!-- Posición de imagenes -->

            //<!-- Imagenes -->
            .carousel-inner {
                height: 700px !important;

                .carousel-item {
                    img {
                        height: 700px;
                        background-size: cover;
                    }
                }
            }

            //<!-- Boton previo --><!-- Boton siguiente -->
            #carouselExampleIndicators {
                width: 375px;
            }
        }
    }

}

/*--------- RESPONSIVE ---------*/
/*- Mobile first => min-width-*/


/* ------------Tablet---------- */
@media (min-width: 540px) {

    .index-body {
        background-color: rgba(253, 250, 250, 0.69);

        .index-main {

            .texto-superpuesto {
                width: 80%;
                max-width: 800px;
                margin: auto;
                position: absolute;
                transform: translate(-50%, -50%);
                z-index: 1;
                color: rgb(33, 33, 33);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                h1 {
                    font-size: 40px;
                    font-family: $fuente-titulo;
                    text-align: center;
                    border-radius: 15px;
                    color: rgb(80, 72, 53);
                }

                .texto {
                    width: 600px;
                    align-items: justify;

                }
            }

            #carouselExampleIndicators {
                display: flex;
                justify-content: flex-end;
                width: auto;
                max-width: 800px;
                margin: auto;

                //<!-- Posición de imagenes -->

                //<!-- Imagenes -->
                .carousel-inner {
                    height: 750px !important;
                    width: 49%;

                    .carousel-item {
                        img {
                            right: 0%;
                        }
                    }
                }

                //<!-- Boton previo --><!-- Boton siguiente -->
                #carouselExampleIndicators {
                    width: 375px;
                }
            }
        }

    }
}

/* ------------Desktop---------- */
@media (min-width: 540px) {

    .index-body {
        background-color: rgba(253, 250, 250, 0.69);

        .index-main {

            .texto-superpuesto {
                width: 80%;
                max-width: 800px;
                margin: auto;
                position: absolute;
                transform: translate(-50%, -50%);
                z-index: 1;
                color: rgb(33, 33, 33);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                h1 {
                    font-size: 40px;
                    font-family: $fuente-titulo;
                    text-align: center;
                    border-radius: 15px;
                    color: rgb(80, 72, 53);
                }

                .texto {
                    font-family: $fuente-titulo;
                    font-size: 1rem;
                    width: 60%;
                    text-align: center;
                    text-align: justify;

                }
            }

            #carouselExampleIndicators {
                display: flex;
                justify-content: flex-end;
                width: auto;
                max-width: 800px;
                margin: 20px;
                right: -40%;


                //<!-- Posición de imagenes -->

                //<!-- Imagenes -->
                .carousel-inner {
                    height: 850px !important;
                    width: auto;

                    .carousel-item {
                        img {
                            height: 850px;
                            background-size: cover;
                        }
                    }
                }

                //<!-- Boton previo --><!-- Boton siguiente -->
                #carouselExampleIndicators {
                    width: 375px;
                }
            }
        }

    }
}